<ul class="sidebar-menu">
    <li><a href="@Url.Action("Home_HeadDept", "Home")"><i class="fas fa-tachometer-alt menu-icon"></i><span class="menu-text">Dashboard</span></a></li>
    <li><a href="@Url.Action("Plans", "AssignedPlan")"><i class="fas fa-tasks menu-icon"></i><span class="menu-text">Assigned Plans</span></a></li>
    <li><a href="@Url.Action("Task", "AssignTask")"><i class="fas fa-user-plus menu-icon"></i><span class="menu-text">Assign Tasks</span></a></li>
    <li><a href="@Url.Action("SubmissionApproval", "SubmissionApproval")"><i class="fas fa-check-square menu-icon"></i><span class="menu-text">Submission Approval</span></a></li>
    <li><a href="@Url.Action("Notifications", "Notifications")"><i class="fas fa-bell menu-icon"></i><span class="menu-text">Notifications</span></a></li>
</ul>